@use 'vars';

.ant-divider {
  border-color: #b7bcbd;
}

.ant-tabs-bar {
	.ant-tabs-nav .ant-tabs-tab-active {
		color: vars.$font-color;
	}
	.ant-tabs-ink-bar {
		background-color: vars.$primary-color;
	}
}
.ant-tabs-bar .ant-tabs-nav .ant-tabs-tab {
	margin-right: 24px;
}
.ant-table {
	color: vars.$font-color;
	.ant-table-measure-row { display: none; }
}

.ant-progress-inner, .ant-progress-success-bg, .ant-progress-bg {
	border-radius: 2px;
	height: 10px !important;
}

@media screen and (max-width: 576px) {
	.ant-tabs-bar .ant-tabs-nav .ant-tabs-tab {
		margin-right: 16px;
		padding: 8px 0px;
	}	
}
