@use 'vars';

.ant-divider {
  border-color: #b7bcbd;
}

.ant-tabs-bar {
	.ant-tabs-extra-content {
		font-size: 12px;
		line-height: 40px;
	}
	.card-tab-title {
		font-weight: 500;
		line-height: 36px;
	} 
	.ant-tabs-nav .ant-tabs-tab-active {
		color: vars.$font-color;
	}
	.ant-tabs-nav .ant-tabs-tab { 
		padding: 0px; 
	}
	.ant-tabs-ink-bar {
		background-color: vars.$primary-color;
	}
}
.ant-tabs-bar .ant-tabs-nav .ant-tabs-tab {
	margin-right: 16px;
}
.ant-table {
	color: vars.$font-color;
}
@media screen and (max-width: 576px) {
	.ant-table {
		font-size: 13px;
	}
}

@media screen and (min-width: 576px) {
  .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab {
		margin-right: 24px;
	}
	.card-tab-title {
		font-size: 16px;
	}
}
