@use 'vars';
.delta-grid-tags {
	color: vars.$font-color;
	margin-right: 4px;
	font-size: 12px;
}
.delta-grid-select {
	width: 85px;
	float: right;
}
.card-grid {
	margin-bottom: 16px;
	.ant-card-grid {
		padding: 6px 12px;
		font-weight: 500;
		height: 50px;
		font-size: 14px;
		display: flex;
		width: calc((100vw - 32px - 8px)/2);
		margin: 8px 8px 0px 0px;
		color: vars.$font-color;
    justify-content: space-between;
		align-items: center;
		box-shadow: none;
		background-color: vars.$statistic-background;
	}
	.ant-card-grid.new-high {
		background-color: #ffccc7;
	}
	.ant-card-grid.day-14-high {
		background-color: #ffe7ba;
	}
	.ant-card-grid.day-14-low {
		background-color: #d9f7be;
	}
	.ant-card-grid:nth-child(-n+2) {
		margin-top: 0px;
	}
	.ant-card-grid:nth-child(2n) {
		margin-right: 0px
	}
	.title { background-color: #f0f0f0;}
	.state-name { overflow-wrap: break-word; padding-right: 10px; line-height: 14px; width: 100px;}
	.recovered { color: vars.$green7; }
	.deaths { color: vars.$red6; }
}
@media screen and (min-width: 576px) {
	.delta-grid-select {
		width: 120px;
	}
	.delta-grid-tags { 
		margin-right: 12px;
	}
	.card-grid {
		.ant-card-grid {
			width: calc((100vw - 32px - 16px)/3);
		}
		.ant-card-grid:nth-child(-n+3) {
			margin-top: 0px;
		}
		.ant-card-grid:nth-child(2n) {
			margin-right: 8px;
		}
		.ant-card-grid:nth-child(3n) {
			margin-right: 0px
		}
	}
}

@media screen and (min-width: 768px) {
	.card-grid {
		.state-name { width: 120px;}
		.ant-card-grid {
			width: calc((100vw - 48px - 24px)/4);
		}
		.ant-card-grid:nth-child(-n+4) {
			margin-top: 0px;
		}
		.ant-card-grid:nth-child(3n) {
			margin-right: 8px !important;
		}
		.ant-card-grid:nth-child(4n) {
			margin-right: 0px !important;
		}
	}
}
@media (min-width: 1200px) { 
	.card-grid {
		.ant-card-grid {
			width: calc((100vw - 96px - 32px)/5);
		}
		.ant-card-grid:nth-child(4n) {
			margin-right: 8px !important;
		}
		.ant-card-grid:nth-child(5n) {
			margin-right: 0px !important;
		}
		.ant-card-grid:nth-child(-n+5) {
			margin-top: 0px;
		}
	}
}

@media (min-width: 1300px) { 
	.card-grid {
		.ant-card-grid {
			width: calc((100vw - 128px - 32px)/5);
		}
	}
}

@media (min-width: 1400px) { 
	.card-grid {
		.ant-card-grid {
			width: calc((100vw - 256px - 32px)/5);
		}
	}
}