@use 'vars';

.chart-options {
  display: flex;
  .ant-select, .ant-checkbox-wrapper {
    width: 100%;
  }
}

.active-cases-section-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.new-cases-chart .g2-tooltip .g2-tooltip-list .g2-tooltip-list-item:nth-last-child(2) {
  display: none;
}

.chart-title {
	margin-bottom: 8px;
	border-bottom: vars.$border;
}

.monthlyNewCasesChart {
	display: flex;
	justify-content: center;
	// width: 2 !important;
	// height: 30px !important;
}