@use 'vars';

.daily-report-table {
	margin-top: 16px;
	.state-name {
		font-weight: 500;
		.ant-tag {
			position: absolute;
			top: 8px;
			right: 0;
		}
	}
	.ant-table-tbody > tr:hover > td {
    background-color: #fffae0;
  }
	.ant-tag-green {
			color: #237804;
			background-color: #e5f5e0;
		}
	.cell-with-trend-indicator {
		@extend %flex-row;
		justify-content: space-between;
		.ant-tag {
			border: none;
		}
	}
}