@use 'vars';

.daily-report-table {
	margin-top: 16px;
	.state-name {
		font-weight: 500;
		.ant-tag {
			position: absolute;
			top: 8px;
			right: 0;
		}
	}
	.ant-tag-green {
			color: #237804;
			background-color: #e5f5e0;
		}
	.cell-with-trend-indicator {
		@extend %flex-row;
		justify-content: space-between;
		.ant-tag {
			border: none;
		}
	}
}

// .daily-report-table, .daily-report-tags {
// 	.newHigh {
// 		color: #C71E1D;
// 		background-color: #FFF2EC;
// 	}
// 	.high {
// 		color: #FA521C;
// 		background-color: #fff2e8;
// 	}
// 	.low {
// 		color: #238B45;
// 		background-color: #E8F5E0;
// 	}
// }

// .daily-report-tags {
// 	.newHigh, .high, .low {
// 		border: none;
// 	}
// }