html,body {
	font-size: 14px;
}
.ant-statistic-content {
	font-size: 16px;
}
.ant-tabs-extra-content {
	font-size: 12px;
}

@media screen and (max-width: 576px) {
	.mobile-navigation {
		.twitter {
			font-size: 20px;
		}
	}
	.ant-tag.live-counter {
		font-size: 2.5vw;
	}
	.daily-report-table .ant-tag {
		font-size: 3vw;
	}
	.daily-report-table .ant-table, .state-table .ant-table-small {
		font-size: 3.1vw !important;
	}
	.today-badge, .ant-badge-count, .ant-tabs-extra-content,
	.ant-statistic-title, .state-table .ant-table-small .ant-table-thead > tr > th, .trend-info,
	.now {
		font-size: 3vw;
	}
	.ant-tabs-tab .ant-tabs-tab-btn, .subhead, .trend-card .trend-card-title, .ant-radio-button-wrapper {
		font-size: 3.5vw;
	}
	html, body, p, .ant-select, .ant-picker, .ant-picker-input > input {
		font-size: 3.5vw;
	}
	.ant-statistic-content, .ant-statistic-content-suffix, .ant-statistic-content-value, .ant-statistic-content-value-decimal {
		font-size: 4vw;
	}
}