@use 'vars';
h3.title {
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  border-bottom: vars.$title-border;
}

.featured {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  margin: 0 0 .75em;
}

.daily-update-list {
  background-color: #fff;
  font-size: 15px;
  h4 { margin: 0;}
  .anticon {
    margin-right: 8px;
  }
}

@media (min-width: 768px) {
  .featured {
    font-size: 28px;
  }
}
