@use 'vars';

h2 {
	margin: 8px 0px;
}
.subhead {
	font-weight: 500;
	border-bottom: 1px solid #f0f0f0;
	padding: 8px 0px;
}

.daily-update-list {
  background-color: #fff;
  h4 { margin: 0;}
  .anticon {
    margin-right: 8px;
  }
}

.home-page-tabs-second {
	.ant-tabs-nav {
		margin-bottom: 0px !important;
	}
}

.trend-box {
	width: 16px; height: 16px; margin: 0px 2px -2px 2px; border-radius: 2px;
	display: inline-block;
}

.ant-tag.live-counter {
	padding: 0 4px;
	font-size: 11px;
	line-height: 18px;
}

@media screen and (max-width: 576px) {
	.today-badge .ant-badge-count {
		min-width: 16px;
		height: 16px;
		line-height: 16px;
		right: -15px !important;
	}
	.ant-badge-multiple-words {
		padding: 0 4px;
	}
}
