@use 'vars';

.state-group {
  h2 {
    padding: 10px 10px 0px 10px;
    font-weight: 300;
    margin: 0px;
  }

  a {
    background-color: #fff;
    padding: 5px 10px;
    border: vars.$border;
    border-radius: vars.$border-radius;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 15px;
  }
}

.lab-card {
  border: vars.$border;
  .ant-card-head {
    background-color: vars.$section-title-color;
    border-bottom: none;
  }
  .ant-card-extra {
    font-size: 16px !important;
  }
  .ant-card-body {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .ant-card-body::before {
    content: none;
  }
  .ant-card-body::after {
    content: none;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
    list-style: none;
  }
  .ant-card-head-title {
    white-space: normal;
    max-width: 92%;
  }
}