@use 'vars';
.ant-layout { 
  min-height: 100%;
  background-color: #fff;
}
.ant-layout-content {
  margin: 4px 16px;
}
.ant-layout-footer {
  width: 100%;
  background-color: #fafafa;
  border-top: vars.$border;
  text-align: center;
  padding: 16px;
	a {
		margin-right: 8px;
	}
  .btn-twitter {
    border: 1px solid;
    border-color: vars.$blue;
    margin-left: 16px;
    line-height: 34px;
    padding: 0px 8px;
    border-radius: vars.$border-radius;
  }
}

.ant-layout-header {
  background-color: #fff;
  border-bottom: vars.$border;
  padding: 0px 16px;
}

@media screen and (min-width: 768px) {
  .ant-layout-header {
    padding: 0px 24px;
  }
  .ant-layout-content {
    margin: 8px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .ant-layout-header {
    padding: 0px 64px;
  }

  .ant-layout-content {
    margin:  16px 64px;
  }
}

@media screen and (min-width: 1400px) {
  .ant-layout-header {
    padding: 0px 128px;
  }

  .ant-layout-content {
    margin:  24px 128px;
  }
}
