@use 'vars';

.live-update-cards {
	margin-bottom: 16px;
	.ant-card-grid {
		padding: 6px 12px;
		font-weight: 500;
		font-size: 14px;
		display: flex;
		width: calc((100vw - 32px - 16px)/3);
		margin: 8px 8px 0px 0px;
		color: vars.$font-color;
    justify-content: space-between;
		align-items: center;
		box-shadow: none;
		background-color: vars.$statistic-background;
	}
	.ant-card-grid:nth-child(-n+3) {
		margin-top: 0px;
	}
	.ant-card-grid:nth-child(3n) {
		margin-right: 0px
	}
	.state-name { overflow-wrap: break-word; padding-right: 10px; line-height: 14px; width: 70px;}
	.today { text-align: center;}
	.new-cases {
		font-weight: 500;
		color: vars.$red6;
	}
}

@media screen and (min-width: 768px) {
	.state-name { width: 100px !important; }
	.live-update-cards {
		.ant-card-grid {
			width: calc((100vw - 48px - 24px)/4);
		}
	}
	.ant-card-grid:nth-child(-n+4) {
		margin-top: 0px;
	}
	.ant-card-grid:nth-child(3n) {
		margin-right: 8px !important;
	}
	.ant-card-grid:nth-child(4n) {
		margin-right: 0px !important;
	}
}
@media (min-width: 1200px) { 
	.live-update-cards {
		.ant-card-grid {
			width: calc((100vw - 96px - 32px)/5);
		}
	}
	.ant-card-grid:nth-child(4n) {
		margin-right: 8px !important;
	}
	.ant-card-grid:nth-child(5n) {
		margin-right: 0px !important;
	}
	.ant-card-grid:nth-child(-n+5) {
		margin-top: 0px;
	}
}