@use 'vars';
.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: 0px;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.mobile-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 22px;
  .anticon {
    padding: 16px 0px 16px 16px;
  }
}

.logo a {
  background-color: vars.$logo-color;
  font-size: 15px;
  font-weight: 600;
  line-height: 36px;
  border-radius: 2px;
  padding: 8px;
  color: vars.$font-color;
}
@media (min-width: 768px) { 
  .mobile-navigation {
    display: none !important;
  }
}
