@use 'vars';
.state-table {
  color: vars.$font-color;
  tr:nth-child(2n+1) td {
    background-color: #f8f8f8;
  }
  .ant-table-tbody > tr:hover > td {
    background-color: #e6f7ff;
  }
.ant-table-small .ant-table-thead > tr > th {
  background-color: #fff;
  text-transform: uppercase;
  color: vars.$font-color;
  font-weight: bold;
  border-bottom: 2px solid vars.$font-color;
  .sub-heading {
    font-size: 12px;
    font-weight: 400;
    color: #666;
    text-transform: capitalize;
  }
}
.ant-progress-steps-item {
  background-color: vars.$ant-progress-step-color;
}
.state-name {
  font-weight: 500;
  text-transform: uppercase;
}
.ant-table-small .ant-table-tbody > tr > td,
.ant-table-small .ant-table-thead > tr > th {
  .plus-today { color: vars.$trend-very-poor;}
}
.ant-table-small .ant-table-tbody > tr > td {
    .bold {
      font-weight: 500;
    }
    border-bottom: 1px solid rgba(0, 0, 0, 0.067);
    .cell-wrapper { display: flex; flex-shrink: 0; line-height: 32px;}
    div.count { flex-grow: 1; text-align: right;}
    .plus-today { font-weight: 500; }
    div.delta { width: 60px; }
    .total { font-weight: 500;}
    .delta { text-align: left; padding-left: 10px; }
    .weekly-rate {
      display: flex;
      align-items: center;
      .progress-rate {
        margin-left: 8px;
      }
    }
  }

  

  .ant-table-small .ant-table-tbody > tr > td:not(:nth-child(0)):not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.067);
  }
}