@use 'vars';

.covid-statistic {
  padding: 10px !important;
  border-radius: vars.$border-radius;
  background-color: #f5f5f5;
  .ant-card-body { 
    padding: 0px;
  }
  .weekly-rate > .ant-progress { padding-right: 16px;}
}

.covid-statistic .ant-statistic-title,
.covid-statistic .ant-statistic-content
{
  font-weight: 500;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  text-transform: uppercase;
  color: vars.$font-color;
}

.covid-statistic .ant-statistic-content {
  font-size: 18px;
}

.covid-statistic .ant-statistic-title {
  align-items: center; font-size: 14px;
}


.center {
  text-align: center;
}

.statistic-deaths {
  background-color: vars.$red2;
}
.statistic-recovered {
  background-color: vars.$green2;
}