@use 'vars';

.covid-statistic {
  padding: 10px 0px !important;
  border: vars.$border;
  border-radius: vars.$border-radius;
  background-color: #fff;
  .ant-card-body { 
    padding: 0px;
  }
  .weekly-rate > .ant-progress { padding-right: 16px;}
}

.covid-statistic .ant-statistic-content,
.covid-statistic .ant-statistic-title
{
  font-size: 18px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  text-transform: uppercase;
}

.covid-statistic .ant-statistic-title {
  align-items: center; font-size: 13px;
}

.covid-statistic .ant-statistic-title .anticon {
  position: absolute;
  right: 30px;
  cursor: help;
}

.center {
  text-align: center;
}

.statistic-deaths {
  border-color: vars.$red;
}
.statistic-recovered {
  border-color: vars.$green;
}