@use 'vars';

.covid-statistic, .covid-statistic-with-suffix {
  padding: 8px 15px !important;
  border: vars.$border;
  border-radius: vars.$border-radius;
  background-color: #fff;
  color: #526473;
}

.covid-statistic-with-suffix .ant-statistic-content,
.covid-statistic-with-suffix .ant-statistic-title
{
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.covid-statistic-with-suffix .ant-statistic-content-suffix {
  font-size: 14px;
  font-weight: 500;
}

.center {
  text-align: center;
}

.statistic-deaths {
  border-color: vars.$red;
}
.statistic-recovered {
  border-color: vars.$green;
}

@media (max-width: 420px) {
  .ant-statistic-content {
    font-size: 20px !important;
  }
}