@use 'vars';
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto !important;
}
#__next {
  height: 100%;
}
.red { color: vars.$red; }
.green { color: vars.$green; }
.blue { color: vars.$blue; }

.red-8 {
  color: #a8071a;
}

.gold {
  color: #faad14;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 500;
}

.table-cell-background-red {
  background-color: vars.$red2;
}

.capitalize {
  text-transform: capitalize;
}

h1 {
  margin: 12px 0px;
}

h2 {
  font-weight: 300;
}

.link { color: vars.$primary-color; font-weight: 400; }
.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: 0px;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.mobile-navigation {
  text-align: right;
  font-size: 22px;
  .anticon {
    padding: 16px 0px 16px 16px;
  }
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 32px;
  margin-right: 10px;
}
.logo a {
  font-size: 20px;
  font-weight: 300;
  color: rgba(0,0,0, 0.65);
}
.ant-layout { min-height: 100%; }

.ant-layout-content {
  padding: 16px 0px;
}
.ant-layout-header {
  background-color: #fff;
  padding: 0px;
  border-bottom: vars.$border;
}
.ant-layout-footer {
  width: 100%;
  padding: 16px;
  background-color: #fff;
  // border-top: vars.$border;
  .footer-about { 
    padding-right: 16px;
    text-align: left;
  }
  .footer-twitter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .btn-twitter {
      line-height: 24px;
      border: vars.$border;
      border-radius: vars.$border-radius;
      padding: 4px 8px;
      margin-bottom: 8px;
    }
  }
}
#loading {
  position: fixed;
  top: 75px;
  right: 32px;
  font-size: 24px;
  display: none;
 }
.national-radio {
  margin: 15px 0px;
}

.ant-tag {
  margin:0;
}

.india-map {
  height: 400px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  @extend %section;
  .section-header {
    @extend %section-header;
  }
  .section-head {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h4 { margin-bottom: 0px;}
    border-bottom: vars.$border;
  }
  .section-content {
    padding: 15px 20px;
  }
  .section-chart {
    padding: 20px 0px;
    // border-top: vars.$border;
  }
}

.rate-of-growth-drawer {
  .ant-drawer-body {
    padding: 0px;
  }
  .ant-list-item-meta-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
  }
  p {
    padding: 16px 16px 0px 16px;
  }
  .ant-list-item, .ant-drawer-header {
    padding: 16px;
  }
}

.control {
  @extend %control;
}

.navigation {
  a {
    font-size: 15px;
  }
}
.leaflet-control-attribution {
  display: none !important;
}
#map {
  height: 450px;
}

.page-section-title {
  h4 {
    margin: 0px;
    color: #666;
  }
  display: flex;
  justify-content: space-between;
  line-height: 28px;
  margin-bottom: 16px;
  border-bottom: vars.$border;

  .last-updated {
    font-size: 12px;
    padding: 0px 10px;
    color: #666;
  }
}

.map-info {
  @extend %section;
  text-align: right;
  padding: 10px;
}
@media (max-width: 576px) {
  .ant-layout-content { padding: 8px; }
  .logo a { font-size: 17px; }
  .footer-twitter {
    align-items: baseline !important;
  }
}
