.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: 0px;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.ant-layout {
  background-color: #fff;
}
.ant-layout-header {
  background-color: #fff;
  padding: 0px;
  border-bottom: 1px solid #eee;
}
.ant-layout-footer {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  text-align: center;
  background-color: #fff;
}

.state-case-row {
  line-height: 32px;
  width: 100%;
  padding: 1px 0px !important;
  border: 0 !important;
}

.state-case-row-stats {
  display: flex;
  background-color: #fff;
}
.state-case-row-stats div {
  width: 52px;
  text-align: center;
  margin: 0px;
  background-color: khaki;
  margin-left: 5px;
}

.national-radio {
  margin: 15px 0px;
}

.ant-tag {
  margin:0;
}

.india-map {
  height: 400px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.live-tag {
  margin-right:0 !important;
}

.chart {
  height: 200px;
  width: 100%;
}
