@use 'vars';
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: #303030;
    overflow-x: hidden;
    overflow-y: auto !important;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
#__next {
  height: 100%;
}
.red { color: vars.$red; }
.green { color: vars.$green; }
.green7 { color: vars.$green7; }
.blue { color: vars.$blue; }
.red6 { color: vars.$red6; }
.gold {
  color: #faad14;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 500;
}

.table-cell-background-red {
  background-color: vars.$red2;
}

.capitalize {
  text-transform: capitalize;
}

h1, h2, h3, h4 {
  color: vars.$font-color;
}

.flex-column-center {
  @extend %flex-column-center;
}

.flex-row-center {
  @extend %flex-row-center;
}

.link { color: vars.$blue !important; }

#loading {
  position: fixed;
  top: 75px;
  right: 32px;
  font-size: 24px;
  display: none;
 }
.national-radio {
  margin: 15px 0px;
}

.ant-tag {
  margin:0;
}

.map-info.leaflet-control {
  background-color: rgba(255,255,255, 0.7);
  border-radius: vars.$border-radius;
  width: 200px;
}

.rate-of-growth-drawer {
  .ant-drawer-body {
    padding: 0px;
  }
  .ant-list-item-meta-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
  }
  p {
    padding: 16px 16px 0px 16px;
  }
  .ant-list-item, .ant-drawer-header {
    padding: 16px;
  }
}

.control {
  @extend %control;
}

.navigation {
  a {
    font-size: 14px;
    color: vars.$font-color;
    font-weight: 500;
  }
}
.leaflet-control-attribution {
  display: none !important;
}
#map {
  height: 452px;
  border-radius: vars.$border-radius;
}

.page-section-title {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
  align-items: center;
}

.map-info {
  // @extend %section;
  text-align: right;
  padding: 10px;
}