@use 'vars';

@font-face {
	font-family: 'SF Pro Text';
	src: url('/font/SF-Pro-Text-Regular.woff2') format('woff2'),
			 url('/font/SF-Pro-Text-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('/font/SF-Pro-Text-Medium.woff2') format('woff2'),
			 url('/font/SF-Pro-Text-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('/font/SF-Pro-Text-Semibold.woff2') format('woff2'),
			 url('/font/SF-Pro-Text-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto !important;
    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html, body, p {
	color: vars.$font-color;
}

#__next {
  height: 100%;
}
.red { color: vars.$red; }
.green { color: vars.$green; }
.green7 { color: vars.$green7; }
.blue { color: vars.$blue; }
.red6 { color: vars.$red6; }
.gold {
  color: #faad14;
}

.uppercase {
  text-transform: uppercase;
}

.ellipses {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.bold {
  font-weight: 500;
}

.table-cell-background-red {
  background-color: vars.$red2;
}

.capitalize {
  text-transform: capitalize;
}

h1, h2, h3, h4 {
  color: vars.$font-color;
}

.flex-column-center {
  @extend %flex-column-center;
}

.flex-row-center {
  @extend %flex-row-center;
}

.flex-row-spread {
	@extend %flex-row-spread;
}

.link { color: vars.$blue !important; }

#loading {
  position: fixed;
  top: 75px;
  right: 32px;
  font-size: 24px;
  display: none;
 }
.national-radio {
  margin: 15px 0px;
}

.map-info.leaflet-control {
  background-color: rgba(255,255,255, 0.7);
  border-radius: vars.$border-radius;
  width: 200px;
}

.rate-of-growth-drawer {
  .ant-drawer-body {
    padding: 0px;
  }
  .ant-list-item-meta-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
  }
  p {
    padding: 16px 16px 0px 16px;
  }
  .ant-list-item, .ant-drawer-header {
    padding: 16px;
  }
}

.control {
  @extend %control;
}

.navigation {
  a {
    color: vars.$font-color;
    font-weight: 500;
  }
}
.leaflet-control-attribution {
  display: none !important;
}
#map {
  height: 452px;
  border-radius: vars.$border-radius;
}

.page-section-title {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
  align-items: center;
}

.map-info {
  text-align: right;
  padding: 10px;
}

.trend-tag-green, .trend-tag-red { 
	border-radius: 2px;
	padding: 2px;
	text-align: center;
}
.trend-tag-green {
	border: 1px solid #b7eb8f;
	background-color: #f6ffed;
	
}
.trend-tag-red {
	border: 1px solid #ffa39e;
	background-color: #fff1f0;
}

.sitemap { 
	a {
		margin-right: 8px;
		display: inline-block;
	}
}