.red {
  color: #f5222d;
}

.green {
  color: #389e0d
}

.red-8 {
  color: #a8071a;
}

.gold {
  color: #faad14;
}

.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: 0px;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 32px;
  margin-right: 10px;
}
.logo span {
  font-size: 20px;
  font-weight: 300;
}
.ant-layout {
  background-color: #fafafa;
}
.ant-layout-content {
  padding-top: 16px;
}
.ant-layout-header {
  background-color: #fff;
  padding: 0px;
  border-bottom: 1px solid #eee;
}
.ant-layout-footer {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  text-align: center;
  background-color: #fff;
}

.state-list {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 10px !important;
}
.state-list .ant-list-header {
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  background-color: #fafafa;
}

.state-list .ant-list-header div {
  width: 52px;
  margin-left:5px;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
}

.state-case-row {
  line-height: 30px;
  width: 100%;
  padding: 2px 0px !important;
}

.state-case-row .state-name {
  max-width: 120px;
}

.state-case-row-stats {
  display: flex;
  background-color: #fff;
  font-size: 13px;
}
.state-case-row-stats div {
  width: 52px;
  text-align: center;
  margin-left: 5px;
}

.row-cell-today {
  font-weight: 500;
}

.national-radio {
  margin: 15px 0px;
}

.ant-tag {
  margin:0;
}

.india-map {
  height: 400px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.live-tag {
  margin-right:0 !important;
}

.chart {
  border: 1px solid #eee;
  background-color: #fff;
  padding: 10px;
  height: 300px;
}