@use 'vars';
.trend-info { 
  border-radius: 2px;
  color: #fff;
  text-align: center;
  @extend %flex-column-center;
  height: 70px;
	padding: 10px;
	font-weight: 500;
}

.trend-info.very-poor {
  background-color: vars.$trend-very-poor;
}

.trend-info.poor {
  background-color: vars.$trend-poor;
}

.trend-info.progress {
  background-color: vars.$trend-progress;
}

.trend-info.better {
  background-color: vars.$trend-better;
}

.trend-info.description {
  color: vars.$font-color;
	background-color: vars.$statistic-background;
	font-weight: 400;
}

@media (min-width: 768px) { 
  .trend-info {
    height: 101px;
  }
}