$gold: #faad14;
$gold5: #ffc53d;
$gold4: #ffd666;

$green: #52c41a;
$green2: #d9f7be;
$green7: #389e0d;

$blue: #1890ff;

$red: #f5222d;
$red2: #ffccc7;
$red3:#ffa39e;
$red6: #f5222d;

$font-color: #303030;
$logo-color:$gold4;
$primary-color: #FFD666;

$border: 1px solid rgba(0,0,0,.10);;
$control-border: 1px solid #d9d9d9;
$border-radius: 2px;

$title-border: 2px solid $logo-color;
$statistic-background: #f5f5f5;

$trend-very-poor: #C71E1D;
$trend-poor: #FA531C;
$trend-progress: #FAAD15;
$trend-better: #23994a;

$ant-progress-step-color: #ccc;

%flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex-row-spread {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
%flex-row {
	display: flex;
	// justify-content: center;
	align-items: center;
}

%section {
  background-color: #fff;
  border: $border;
  border-radius: $border-radius;
}

%control {
  height: 32px;
  line-height: 32px;
  padding: 0 11px;
}
%section-header {
  background-color: #F2F4F5;
}