$gold: #faad14;
$green: #52c41a;
$red: #f5222d;

$border: 1px solid rgba(0,0,0,.14); // #CED4D9;
$control-border: 1px solid #d9d9d9;
$border-radius: 2px;
$section-title-color: #F2F4F5;

%section {
  background-color: #fff;
  border: $border;
  border-radius: $border-radius;
}
%control {
  height: 32px;
  line-height: 32px;
  padding: 0 11px;
}
%section-header {
  background-color: #F2F4F5;
}